[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tqdm = "*"
python-telegram-bot = "*"
python-dotenv = "*"
backoff ="*"
schedule = "*"
tweepy = "*"
base58 = "*"
aiohttp = "*"
docker = "*"
websocket-client = "*"

[dev-packages]

[requires]
python_version = "3"
